html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

/* Grid styles */
* {
  box-sizing: border-box; }

header, #main, footer {
  width: 100%; }

.container {
  position: relative;
  margin: 0 auto 0;
  width: 100%; }

.module {
  overflow: hidden;
  position: relative; }

[class*='col-'] {
  float: left;
  width: 100%; }

fieldset + fieldset {
  margin-top: 2rem; }

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 3rem;
  padding: .5rem;
  font-size: 11pt;
  display: block;
  width: 100%;
  border: solid thin gray;
  border-radius: .1em; }

select {
  width: 100%;
  height: 3rem;
  display: block;
  padding: 0 1em; }

fieldset > legend {
  font-weight: bold; }
fieldset > label:first-of-type {
  margin-top: 0; }

label {
  margin-top: .5rem; }

@media screen and (max-width: 480px) {
  [class*='col-'] {
    margin-bottom: 21px; } }
@media screen and (min-width: 360px) {
  .mobile-half {
    width: 50%;
    float: left; } }
@media screen and (min-width: 720px) {
  .mobile-half {
    width: auto;
    float: none; }

  .col-1-2 {
    width: 50%; }

  .col-1-3 {
    width: 33.33333%; }

  .col-2-3 {
    width: 66.66667%; }

  .col-1-4 {
    width: 25%; }

  .col-3-4 {
    width: 75%; }

  .col-1-6 {
    width: 16.66667%; }

  .col-5-6 {
    width: 83.33333%; }

  .col-1-8 {
    width: 12.5%; }

  .col-3-8 {
    width: 37.5%; }

  .col-5-8 {
    width: 62.5%; }

  .col-7-8 {
    width: 87.5%; } }
@media screen and (min-width: 920px) {
  .container {
    max-width: 920px; } }
@media screen and (min-width: 1180px) {
  .container {
    max-width: 1180px; } }
html {
  font-size: 75%;
  line-height: 2em; }

body {
  font-family: "museo", sans-serif;
  font-weight: 300;
  color: #666666;
  background: white; }
  body a {
    color: #71cae8;
    text-decoration: none; }
    body a:hover {
      color: #49a2c0; }
    body a:hover, body a:focus {
      text-decoration: underline; }

.grid {
  margin-bottom: 21px;
  zoom: 1; }
  .grid:before, .grid:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .grid:after {
    clear: both; }

@media screen and (min-width: 480px) {
  [class*='col-'] {
    padding-right: 21px; }
    [class*='col-']:last-of-type {
      padding-right: 0; }

  .grid-inset {
    margin-right: -21px;
    display: block; }
    .grid-inset [class*='col-'] {
      padding-right: 21px; }
      .grid-inset [class*='col-']:last-of-type {
        padding-right: 21px; } }
/* Opt-in outside padding */
.grid-pad {
  padding: 21px 0 21px 21px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 21px; }

h2 {
  font-size: 2.16667em;
  line-height: 1.84615em; }

h3 {
  font-size: 1.66667em;
  line-height: 1.2em; }

h4 {
  font-size: 1.33333em;
  line-height: 1.5em;
  color: #71cae8; }

b, strong {
  font-weight: 700; }

p {
  font-weight: 300; }

article ul {
  list-style: disc; }
  article ul li {
    list-style: disc;
    margin-left: 21px; }

article ol {
  list-style-type: decimal; }
  article ol li {
    list-style-type: decimal;
    margin-left: 21px; }

.container {
  padding: 0 21px; }

header {
  position: relative;
  z-index: 2;
  background-image: url(../img/bg-body.png);
  background-repeat: repeat-x;
  position: left top; }
  header .container {
    background-color: #f2f2f2;
    height: 175px;
    background-image: url(../img/bg-header.png);
    background-repeat: repeat-x;
    background-position: left top; }
    @media screen and (min-width: 480px) {
      header .container:after {
        content: "";
        background: url(../img/gradient-top.png);
        display: block;
        width: 100%;
        height: 16px;
        position: absolute;
        top: 100%;
        margin-left: -21px;
        z-index: 0; } }
    header .container h1 {
      max-width: 300px;
      display: block;
      padding-top: 30px; }
      @media screen and (min-width: 480px) {
        header .container h1 {
          padding-top: 50px; } }
      header .container h1 img {
        width: 100%; }
    header .container h2#description {
      font-size: 2.66667em;
      line-height: 1.5em; }
      @media screen and (min-width: 480px) {
        header .container h2#description {
          position: absolute;
          left: 375px;
          top: 65px; } }
    header .container #search {
      display: none; }
    header .container nav#primary {
      position: absolute;
      margin: 0 -21px;
      background-color: white;
      width: 100%;
      bottom: 0;
      z-index: 1; }
      @media screen and (max-width: 480px) {
        header .container nav#primary {
          display: none; } }
      header .container nav#primary ul {
        zoom: 1; }
        header .container nav#primary ul:before, header .container nav#primary ul:after {
          content: "\0020";
          display: block;
          height: 0;
          overflow: hidden; }
        header .container nav#primary ul:after {
          clear: both; }
        header .container nav#primary ul > li {
          float: left;
          display: inline-table;
          padding: 0 21px;
          border-right: solid 3px #f2f2f2;
          position: relative; }
          header .container nav#primary ul > li:last-of-type {
            border-right: none; }
          header .container nav#primary ul > li:hover, header .container nav#primary ul > li.current-menu-item, header .container nav#primary ul > li.current-menu-parent {
            background-color: #666666;
            cursor: pointer; }
            header .container nav#primary ul > li:hover a, header .container nav#primary ul > li.current-menu-item a, header .container nav#primary ul > li.current-menu-parent a {
              color: white; }
              header .container nav#primary ul > li:hover a:hover, header .container nav#primary ul > li.current-menu-item a:hover, header .container nav#primary ul > li.current-menu-parent a:hover {
                text-decoration: none; }
          header .container nav#primary ul > li.current-menu-item {
            cursor: default; }
          header .container nav#primary ul > li a {
            color: #808080; }
          header .container nav#primary ul > li ul.sub-menu {
            position: absolute;
            left: -9999px;
            background: gray; }
            header .container nav#primary ul > li ul.sub-menu li {
              display: block;
              float: none;
              border: none; }
              header .container nav#primary ul > li ul.sub-menu li a {
                white-space: nowrap; }
          header .container nav#primary ul > li:hover ul.sub-menu {
            left: 0; }
    header .container select#mobile-menu-primary {
      display: none;
      margin-top: 21px; }
      @media screen and (max-width: 480px) {
        header .container select#mobile-menu-primary {
          display: block; } }

#main {
  position: relative;
  z-index: 1; }
  #main .container {
    background: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 21px; }

footer {
  margin-top: -21px;
  position: relative;
  z-index: 3; }
  footer .container {
    background: #FFFF99;
    min-height: 200px; }
    footer .container:before {
      content: "";
      background: url(../img/gradient-bottom.png);
      display: block;
      width: 100%;
      height: 16px;
      position: absolute;
      bottom: 100%;
      margin-left: -21px; }
  footer #footer-menu {
    padding: 21px 0 0;
    margin-left: -21px; }
    footer #footer-menu ul {
      zoom: 1; }
      footer #footer-menu ul:before, footer #footer-menu ul:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      footer #footer-menu ul:after {
        clear: both; }
      footer #footer-menu ul > li {
        float: left;
        padding: 0 21px;
        border-right: solid 2px #808080; }
        footer #footer-menu ul > li:last-of-type {
          border-right: none; }
        footer #footer-menu ul > li a {
          color: #666666;
          font-size: 1.16667em;
          line-height: 1.71429em;
          font-weight: 500; }
          footer #footer-menu ul > li a:hover {
            color: #71cae8; }
  footer #copywrite {
    position: absolute;
    right: 21px;
    bottom: 21px;
    display: none;
    visibility: hidden; }

#banner {
  background-color: white;
  position: relative;
  zoom: 1; }
  #banner .banner-text {
    padding: 21px;
    color: #71cae8; }
    @media screen and (min-width: 720px) {
      #banner .banner-text {
        max-width: 50%;
        position: absolute;
        top: 0;
        left: 0; } }
  #banner:before, #banner:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  #banner:after {
    clear: both; }
  #banner .banner-image {
    overflow: hidden;
    float: right; }
    #banner .banner-image img {
      float: right; }

.products-container {
  padding-right: 0; }

.products {
  border: none; }
  .products .product-container {
    padding-right: 21px; }
  .products .product {
    background: white;
    border-radius: 21px;
    padding: 21px;
    height: 500px; }
    .products .product h4 a {
      font-weight: 300; }
    .products .product .product-image {
      text-align: center;
      padding-top: 21px;
      position: relative; }
      .products .product .product-image img {
        max-height: 300px; }
    @media screen and (max-width: 480px) {
      .products .product .product-image img {
        max-height: 150px; } }

.sidebar-links {
  background: #D5EEF5;
  font-size: 0.91667em;
  line-height: 2.18182em;
  border-radius: 21px;
  padding-bottom: 21px; }
  .sidebar-links .module {
    padding: 21px;
    padding-bottom: 0; }
    .sidebar-links .module h4 {
      font-weight: 500; }

.social-media-links {
  position: absolute;
  padding: 21px;
  bottom: 0;
  left: 0; }
  .social-media-links .social-media-link {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 21px;
    position: relative;
    text-indent: -999px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    background-color: #71cae8; }
    .social-media-links .social-media-link:hover {
      text-decoration: none;
      background-color: #7bd4f2; }
    .social-media-links .social-media-link:after {
      font-family: 'socialicoregular', sans-serif;
      text-indent: 0;
      display: block;
      color: white;
      font-size: 48px;
      color: white;
      line-height: 12px;
      background: transparent; }
  .social-media-links #facebook:after {
    content: "F"; }
  .social-media-links #twitter:after {
    content: "L"; }
  .social-media-links #google-plus:after {
    content: "G"; }

.white-background {
  background-color: white;
  padding: 21px; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.product-main-image {
  width: 100%;
  display: block; }

ul.all-products {
  list-style: none; }
  ul.all-products li {
    list-style: none;
    margin: 0;
    padding: 21px 0;
    border-bottom: solid thin #ccc;
    border-top: solid thin #f3f3f3;
    zoom: 1; }
    ul.all-products li:before, ul.all-products li:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    ul.all-products li:after {
      clear: both; }
    ul.all-products li img.product-main-image-thumbnail {
      float: left;
      margin-right: 21px;
      max-width: 200px; }
    ul.all-products li:first-of-type {
      padding-top: 0;
      border-top: none; }
    ul.all-products li:last-of-type {
      padding-bottom: 0;
      border-bottom: none; }

.widget {
  margin-bottom: 21px; }

.widget_sp_image {
  width: 100%;
  text-align: center;
  background: white;
  border-radius: 21px; }

.flex-direction-nav a:before {
  line-height: 40px; }

.flexslider {
  margin-bottom: 21px; }
